mat-card {
  width: 290px;
  padding: 2px;
  margin-bottom: 10px;
  float: left;
  margin: 5px;
}

.card1 {
  margin-left: 500px;
}

mat-card-title {
  text-align: center;
}

.input {
  width: 90%;
  margin: auto;
  display: block;
}
.input-none {
  display: none;
}
.siguiente {
  margin-left: 10px;
}

.next {
  width: 100%;
  display: flex;
}

table {
  width: 100%;
}

.b {
  font-weight: bold;
}

