.form-control-danger {
    padding: 10px;
    border-radius: 10px;
    border: solid red 1px;
    color: red;
  }
  
  .message-error {
    color: red;
  }
  
  .modificar {
    float: right;
    margin-right: 10px;
  }
  .cancelar {
    float: right;
  }
  