<h2>{{ data.nombres }}</h2>

<form
  class="form-horizontal form-material"
  autocomplete="off"
  [formGroup]="form"
  (ngSubmit)="updateUser()"
>
  <div class="form-group m-t-20">
    <div class="col-xs-12">
      <mat-label>Rut</mat-label>
      <br />
      <input
        autocomplete="off"
        formControlName="rut"
        class="form-control"
        type="text"
        placeholder="Rut"
      />
    </div>
  </div>
  <div class="form-group m-t-20">
    <div class="col-xs-12">
      <mat-label>Nombre</mat-label>
      <br />
      <input
        autocomplete="off"
        formControlName="nombres"
        class="form-control"
        type="text"
        placeholder="Nombres"
      />
    </div>
  </div>
  <div class="form-group m-t-20">
    <div class="col-xs-12">
      <mat-label>Apellido</mat-label>
      <br />
      <input
        autocomplete="off"
        formControlName="apellidos"
        class="form-control"
        type="text"
        placeholder="Apellidos"
      />
    </div>
  </div>
  <div class="form-group m-t-20">
    <div class="col-xs-12">
      <mat-label>Correo</mat-label>
      <br />
      <input
        autocomplete="off"
        formControlName="correo"
        class="form-control"
        type="text"
        placeholder="Apellidos"
      />
    </div>
  </div>
  <div class="form-group m-t-20">
    <div class="col-xs-12">
      <mat-label>Telefono</mat-label>
      <br />
      <input
        autocomplete="off"
        formControlName="telefono"
        class="form-control"
        type="text"
        placeholder="Telefono"
      />
    </div>
  </div>
  <div class="form-group m-t-20">
    <mat-label>Rol</mat-label>
    <br />
    <select class="custom-select" formControlName="rol">
      <option value="" disabled>Cambiar rol</option>
      <option *ngFor="let item of dataRoles" [ngValue]="item.nombre">
        {{ item.nombre }}
      </option>
    </select>
  </div>
  <br />
  <button
    type="button"
    class="btn waves-effect waves-light btn-danger cancelar"
  >
    Cancelar
  </button>
  <button type="submit" class="btn waves-effect waves-light btn-info modificar">
    Modificar
  </button>
</form>
