.form-control-danger {
  padding: 10px;
  border-radius: 10px;
  border: solid red 1px;
  color: red;
}

.message-error {
  color: red;
}

.custom-select {
  width: 100%;
}

.modificar {
  float: right;
  margin-right: 10px;
}
.cancelar {
  float: right;
}

.text-area {
  border: solid #73a8ed 2px;
  border-radius: 10px;
  padding: 10px;
}

.text-area:hover {
  border: solid #357fe1 2px;
  border-radius: 10px;
}