<div class="col-xs">
  <div class="card card-body">
    <div class="row">
      <div class="col-xs text-center">
        <a href="app-contact-detail.html"
          ><img
            src="../../../../../assets/images/avatars/avatar_2.png"
            alt="user"
            class="img-circle img-responsive img"
        /></a>
        <h3>Ficha huésped: Jaime Alexis - Rut: 18.564.336-8</h3>
      </div>
      <div class="col-md-8 col-lg-9">
        <h3 class="box-title m-b-0">Empresa: Tres60</h3>
        <br>
        <small>jaime@gmail.com </small>
        <br>
        <br>
        <address>
          Rut: 18.564.336-8	
          <br />
          <abbr>Telefono: </abbr> +56 9 77752319
          <br>
          <abbr>Habitación asignada: </abbr> Ninguna
        </address>
      </div>
    </div>
  </div>
</div>
